<div class="row justify-content-center pt-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Sign up</h2>
            </div>
            <div class="card-body">
              <% if notice || alert %>
                <ul>
                    <% if notice %>
                        <li><%= notice %></li>
                    <% end %>
                    <% if alert %>
                        <li><%= alert %></li>
                    <% end %>
                </ul>
              <% end %>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                </div>

                <div class="actions">
                  <%= f.submit "Sign up", :class => "btn btn-primary" %>
                </div>
              <% end %>
            </div>
            <div class="card-footer">
              <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</div>