<%= form_with(model: admin_employee, local: true) do |form| %>
	<div class="card-body">
		<% if admin_employee.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(admin_employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

				<ul>
					<% admin_employee.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="row form-group">
			<%= form.label :first_name, :class => "col-md-4 col-form-label" %>
			<div class="col-md-8">
				<%= form.text_field :first_name, :required => true, :class => "form-control" %>
			</div>
		</div>

		<div class="row form-group">
			<%= form.label :last_name, :class => "col-md-4 col-form-label" %>
			<div class="col-md-8">
				<%= form.text_field :last_name, :required => true, :class => "form-control" %>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<%= form.submit :class => "btn btn-primary" %>
		<%= link_to 'Back', admin_employees_path, class: "btn btn-danger" %>
	</div>
<% end %>
