<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Editing Employee</h4>
            </div>
            <div class="card-body">
                <%= render 'form', admin_employee: @admin_employee %>
            </div>
        </div>
    </div>
</div>