<% if @admin_employees.length != 0 %>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr class="text-center">
                    <th width="10%">#Id</th>
                    <th width="20%">Nombres</th>
                    <th width="20%">Apellidos</th>
                    <th width="30%">Total por mes</th>
                    <th width="20%">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <% @admin_employees.each do |admin_employee| %>
                    <tr>
                        <td class="text-right"><%= admin_employee.id %></td>
                        <td><%= admin_employee.first_name %></td>
                        <td><%= admin_employee.last_name %></td>
                        <td class="text-right"><%= admin_employee.total_per_month %></td>
                        <td>
                            <%= link_to 'Calendar', admin_employee %> | 
                            <%= link_to 'Edit', edit_admin_employee_path(admin_employee) %> | 
                            <%= link_to 'Destroy', admin_employee, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Mis reportes
        </button>
    </div>
<% else %>
    <div class="row justify-content-center pt-3">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Hey!</h5>
                    <!--h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6-->
                    <p class="card-text">No hay empleados registrados en este sistema. Si desea, puede crear nuevos empleados ya que usted es el administrador y tiene la capacidad de hacerlo.</p>
                    <%= link_to 'Crear', new_admin_employee_path, class: "card-link" %>
                </div>
            </div>
        </div>
    </div>
<% end %>