<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>New Employee</h4>
            </div>
            <%= render 'form', admin_employee: @admin_employee %>
        </div>
    </div>
</div>