<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
	xmlns:o="urn:schemas-microsoft-com:office:office"
	xmlns:x="urn:schemas-microsoft-com:office:excel"
	xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
	xmlns:html="http://www.w3.org/TR/REC-html40">
	<Worksheet ss:Name="Sheet1">
		<Table>
			<Row>
				<Cell><Data ss:Type="String">#ID              </Data></Cell>
				<Cell><Data ss:Type="String">NOMBRES          </Data></Cell>
				<Cell><Data ss:Type="String">DÍA              </Data></Cell>
				<Cell><Data ss:Type="String">ENTRADA          </Data></Cell>
				<Cell><Data ss:Type="String">SALIDA           </Data></Cell>
				<Cell><Data ss:Type="String">SUBTOTAL_DE_HORAS</Data></Cell>
			</Row>
			<% total = 0 %>
			<% @employees.each do |employee| %>
				<Row>
					<Cell><Data ss:Type="Number"><%= employee.id %></Data></Cell>
					<Cell><Data ss:Type="String"><%= employee.first_name %> <%= employee.last_name %></Data></Cell>
					<% if employee.day %>
						<Cell><Data ss:Type="String"><%= employee.day %></Data></Cell>
						<Cell><Data ss:Type="String"><%= employee.start %></Data></Cell>
						<Cell><Data ss:Type="String"><%= employee.stop %></Data></Cell>
						<Cell><Data ss:Type="String"><%= employee.hours_per_month %></Data></Cell>

						<% total += employee.hours_per_month %>
					<% else %>
						<Cell><Data ss:Type="String">----------</Data></Cell>
						<Cell><Data ss:Type="String">----------</Data></Cell>
						<Cell><Data ss:Type="String">----------</Data></Cell>
						<Cell><Data ss:Type="String"><%= "NO TIENE HORAS" %></Data></Cell>
					<% end %>
				</Row>
			<% end %>
			<Row></Row>
			<Row></Row>
			<Row></Row>
			<Row></Row>
			<Row>
				<Cell><Data ss:Type="String">TOTAL_HORAS: </Data></Cell>
				<Cell><Data ss:Type="String"><%= total %></Data></Cell>
			</Row>
		</Table>
	</Worksheet>
</Workbook>