<div id="wrap">
    <%= link_to 'Edit', edit_admin_employee_path(@admin_employee) %> |
    <%= link_to 'Back', admin_employees_path %>

    <div id='calendar'></div>
    <div style='clear:both'></div>
</div>

<script>
    App.new('EmployeesCalendar', {
        apiUrl: '<%= api_admin_employee_path %>'
    });
</script>