<div class="row justify-content-center">
    <div class="col-md-8 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h4>Marcar entrada/salida</h4>
            </div>
			<div class="card-body">
				<%= render 'layouts/partials/alert' %>

				<%= form_for :schedule, url: schedules_path do |f| %>
					<div class="form-group">
						<%= f.label :day %><br />
						<%= f.date_field :day, autofocus: true, autocomplete: "day", :required => true, class: "form-control" %>						
					</div>

					<div class="form-group">
						<%= f.label :time %><br />
						<%= f.time_field :time, autocomplete: "time", :required => true, class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :type %><br />
						<%= f.select :type, [["entrada", "1"], ["salida", "0"]], {}, :required => true,  class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :employee_id %><br />
						<%= f.collection_select :employee_id, @employees, :id, :first_name, {}, required: true, class: "form-control" %>
					</div>

					<%= f.submit "Save", class: "btn btn-primary btn-block" %>
				<% end %>
			</div>
			<div class="card-footer">
				<%= link_to "Soy administrador", admin_root_path %>
			</div>
        </div>
    </div>
</div>