<div class="row justify-content-center">
	<div class="col-md-6">
		<p id="notice"><%= notice %></p>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>
						<b>Go in:</b>
					</td>
					<td>
						<%= @schedule.start %>
					</td>
				</tr>
				<tr>
					<td>
						<b>Go out:</b>
					</td>
					<td>
						<%= @schedule.stop %>
					</td>
				</tr>
				<tr>
					<td>
						<b>employee_id:</b>
					</td>
					<td>
						<%= @schedule.employee_id %>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
			<%= link_to 'Back', '/', class: "btn btn-danger" %>
		</div>
	</div>
</div>