<div class="row justify-content-center pt-5">
    <div class="col-md-6">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Upsss...</h4>
            <p class="text-justify">Un <b>error</b> ha sucedido: <%= @message %>. Inténtelo más tarde y si persiste el error, comuníquese con el administrador del sistema.</p>
            <hr>
            <p class="mb-0">Disculpe las molestias.</p><br>
            <%#= link_to 'Back', employees_path, class: 'btn btn-danger' %>
        </div>
    </div>
</div>