<div class="row justify-content-center pt-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Login</h2>
            </div>
			<div class="card-body">
				<%= render 'layouts/partials/alert' %>

            	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="form-group">
						<%= f.label :email %>
						<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :password %>
						<%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
					</div>

                	<% if devise_mapping.rememberable? %>
						<div class="">
							<%= f.check_box :remember_me %>
							<%= f.label :remember_me %>
						</div>
					<% end %>

					<%= f.submit "Log in", class: "btn btn-primary btn-block" %>
            	<% end %>
			</div>
			<div class="card-footer">
				<%= link_to 'Soy trabajador', root_path %>
			</div>
        </div>
    </div>
</div>