<%= form_with(model: admin_archive, local: true) do |form| %>
	<div class="card-body">
		<% if admin_archive.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(archive.errors.count, "error") %> prohibited this archive from being saved:</h2>

				<ul>
					<% admin_archive.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="row form-group">
			<%= form.label :name, :class => "col-md-4 col-form-label" %>
			<div class="col-md-8">
				<%= form.text_field :name, :required => true, :class => "form-control" %>
			</div>
		</div>

		<div class="row form-group">
			<%= form.label :description, :class => "col-md-4 col-form-label" %>
			<div class="col-md-8">
				<%= form.text_area :description, :required => true, :class => "form-control" %>
			</div>
		</div>

		<% if @archive.file.attached? %>
		<% else %>
			<div class="row form-group">
				<%= form.label :file, :class => "col-md-4 col-form-label" %>
				<div class="col-md-8">
					<%= form.file_field :file, :required => true %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="card-footer">
		<%= form.submit :class => "btn btn-primary" %>
		<%= link_to 'Back', admin_archive_path, class: "btn btn-danger" %>
	</div>
<% end %>
