<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead class="thead-light">
			<tr class="text-center">
			<th>Name</th>
			<th>Description</th>
			<th>Document</th>
			<th colspan="3">Options</th>
			</tr>
		</thead>

		<tbody>
			<% @admin_archives.each do |admin_archive| %>
			<tr>
				<td><%= admin_archive.name %></td>
				<td><%= sanitize admin_archive.description %></td>
				<td>
					<% if admin_archive.file.attached? %>
						<a target="_blank" href="<%= url_for(admin_archive.file) %>">DESCARGAR</a>
					<% end %>
				</td>
				<td><%= link_to 'Show', admin_archive %></td>
				<td><%= link_to 'Edit', edit_admin_archive_path(admin_archive) %></td>
				<td><%= link_to 'Destroy', admin_archive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<br>

<%= link_to 'New Archive', new_admin_archive_path, class: 'btn btn-primary' %>
<%= link_to 'Back', root_path, class: 'btn btn-danger' %>