<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>New Archive</h4>
            </div>
            <%= render 'form', admin_archive: @admin_archive %>
        </div>
    </div>
</div>