<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_archive.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_archive.description %>
</p>

<p>
  <% if @admin_archive.file.attached? %>
    <p>
      <strong>File:</strong>
      <br>
      <%= image_tag @admin_archive.file %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_archive_path(@admin_archive) %> |
<%= link_to 'Back', admin_archives_path %>
