<% if notice || alert %>
    <% if notice %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <b>Hey!</b> <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% end %>
    <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <b>Upsss...!</b> <%= alert %>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% end %>
<% end %>