<nav class="navbar navbar-expand navbar-dark bg-dark">
	<%= link_to admin_root_path, class: "navbar-brand" do %>
		Bienvenido, <%= current_user.email %>
	<% end %>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-user-circle"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					<%= link_to 'New Employee', new_admin_employee_path, class: "dropdown-item" %>
					<%= link_to 'Edit profile', edit_user_registration_path, :class => 'dropdown-item' %>
					<%= link_to "My files", admin_archives_path, class: "dropdown-item" %>
					<div class="dropdown-divider"></div>
					<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item' %>
				</div>
			</li>
		</ul>
	</div>
</nav>