<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ControlTrabajador</title>

	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag 'application' , media: 'all' , 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application' , 'data-turbolinks-track': 'reload' %>
	
	<script src="https://kit.fontawesome.com/d62cda51c2.js" crossorigin="anonymous"></script>
</head>

<body>
	<%= render 'layouts/partials/navbar' %>

	<div class="container pt-4">
		<%= render 'layouts/partials/alert' %>

		<%= yield %>
	</div>

	<%= render 'layouts/partials/modal' %>

	<script>
		// function habilitarEmpleado() {
		// 	let employee_id = $('#employee_id');
		// 	let chktodos = $('#todos');

		// 	if (chktodos.prop('checked')) {
		// 		// alert("MARCADO");
		// 		employee_id.val('');
		// 		employee_id.prop('disabled', 'disabled');
		// 	} else {
		// 		// alert("DESMARCADO");
		// 		employee_id.prop('disabled', false);
		// 	}
		// }

		// function generateFile(){
		// 	let btnGenerator = $('#btnGenerator');
		// 	let chktodos     = $('#todos');
		// 	let todos        = 0;
		// 	let employee_id  = $('#employee_id').val();
		// 	let date_month   = $('#date_month').val();
		// 	let type_file_id = $('#type_file_id').val();

		// 	if (chktodos.prop('checked')) {
		// 		// MARCADO
		// 		todos = 1;
		// 	} else {
		// 		// DESMARCADO
		// 		todos = 0;
				
		// 		if(employee_id == '') {
		// 			alert("ELIJA UN EMPLEADO!");
		// 			return;
		// 		}
		// 	}

		// 	let url = `/employees/report.${type_file_id}?todos=${todos}&employee_id=${employee_id}&date_month=${date_month}`;
		// 	let btn = '';

		// 	btn = `<a target="_blank" class="btn btn-outline-success" href="${url}">DESCARGAR</a>`;

		// 	btnGenerator.html(btn);
		// 	btnGenerator.fadeIn();
		// }

		// function cleanGenerator() {
		// 	let btnGenerator = $('#btnGenerator');
		// 	btnGenerator.fadeOut();
		// }
	</script>
</body>

</html>